<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventLab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="py-6 bg-white shadow-xl w-full">
      <header class="flex justify-between items-center contenedor">
        <img src="/img/logo.png" alt="Logo EventLab" />
        <nav class="flex gap-4">
          <a
            class="uppercase text-red-700 transition-all font-medium"
            href="/crear-cuenta"
            >Crear Grupo</a
          >
          <a
            class="uppercase hover:text-red-700 transition-all font-medium"
            href=""
            >Iniciar Sesion</a
          >
          <a
            class="uppercase hover:text-red-700 transition-all font-medium"
            href="/crear-cuenta"
            >Registrarse</a
          >
        </nav>
      </header>
    </div>

    <%- body %>

    <footer class="bg-gray-700 py-[80px]">
      <div class="contenedor">
        <div class="grid grid-cols-4">
          <div>
            <h3 class="text-white font-bold text-2xl">Links Rapidos</h3>

            <ul class="text-white pl-8 mt-4 font-semibold flex flex-col gap-4">
              <li class="hover:text-rose-700 transition-all duration-300">
                <a href="">Nosotros</a>
              </li>
              <li class="hover:text-rose-700 transition-all duration-300">
                <a href="">Eventos</a>
              </li>
              <li class="hover:text-rose-700 transition-all duration-300">
                <a href="">Horarios</a>
              </li>
              <li class="hover:text-rose-700 transition-all duration-300">
                <a href="">Soporte</a>
              </li>
            </ul>
          </div>
          <div class="col-span-2 text-center">
            <h2 class="uppercase text-white text-3xl font-bold">
              Suscríbete a nuestro boletín
            </h2>
            <h3 class="uppercase text-rose-700 mt-5 text-xl font-bold">
              No te pierdas nuestra actualización destacada.
            </h3>

            <form class="w-full mt-6" action="">
              <div class="flex justify-center">
                <input
                  class="py-3 pl-6 rounded-l-lg w-1/2"
                  type="text"
                  placeholder="Ingresa tu Email"
                />
                <input
                  class="border border-rose-700 bg-rose-700 text-white font-bold cursor-pointer p-3 rounded-r-lg"
                  type="submit"
                />
              </div>
            </form>
          </div>
          <div class="flex flex-col pl-[80px]">
            <h3 class="text-white font-bold text-2xl">Contacto</h3>

            <ul class="text-white mt-4 font-semibold flex flex-col gap-4">
              <li class="flex items-center gap-4">
                <img class="w-8 h-8" src="/img/phone.png" alt="Logos" />
                <div class="text-white font-medium">
                  <p>+1 763-227-5032</p>
                  <p>+1 763-227-5032</p>
                </div>
              </li>
              <li class="flex items-center gap-4">
                <img class="w-8 h-8" src="/img/message.png" alt="Logos" />
                <div class="text-white font-medium">
                  <p>info@example.com</p>
                  <p>info@example.com</p>
                </div>
              </li>
              <li class="flex items-center gap-4">
                <img class="w-8 h-8" src="/img/locationwhite.png" alt="Logos" />
                <div class="text-white font-medium">
                  <p>2752 Willison Street Eagan, United State</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <h2 class="text-borded-gray">Footer</h2>
        <hr class="mb-10" />

        <header class="flex justify-between items-center">
          <img src="/img/logo-white.png" alt="Logo EventLab" />
          <nav class="flex text-white gap-4">
            <a
              class="uppercase text-rose-700 transition-all font-medium"
              href="/crear-cuenta"
              >Crear Grupo</a
            >
            <a
              class="uppercase hover:text-rose-700 transition-all font-medium"
              href=""
              >Iniciar Sesion</a
            >
            <a
              class="uppercase hover:text-rose-700 transition-all font-medium"
              href="/crear-cuenta"
              >Registrarse</a
            >
          </nav>
        </header>
      </div>
    </footer>
  </body>
</html>
